


    <h4>Register !!!</h4>
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()"  >
      <div style="width:30%" >
        <label for="name">UserName</label>
        <input type="text" class="form-control" formControlName="UserName"  id="name"  placeholder="UserName" required>
      </div>

      <div  style="width:30%">
        <label for="Password">Password</label>
        <input type="text" class="form-control" formControlName="Password" id="Password"  placeholder="Password" >
      </div>

      <button type="submit" class="btn btn-success">Submit</button>

    </form>
